

    
 <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#"><i class="fa fa-edit "></i> Hikaye İşlemleri<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panel-tabs.html"><i class="fa fa-toggle-on"></i> Hikaye Listesi</a>
                            </li>
                            <li>
                                <a href="/category/Insert"><i class="fa fa-bell "></i> Yeni Hikaye Ekle</a>
                            </li>
                            <li>
                                <a href="progress.html"><i class="fa fa-circle-o "></i> Silinen Hikayeler</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user "></i> Kullanıcı İşlemleri <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/user/list"><i class="fa fa-key "></i> Kullanıcılar Listesi</a>
                            </li>
                            <li>
                                <a href="social.html"><i class="fa fa-send "></i>Yeni Kullanıcı Ekle</a>
                            </li>
                            <li>
                                <a href="pricing.html"><i class="fa fa-flash "></i>Silinen Kullanıcılar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sliders "></i> Kategori İşlemleri <span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/category/list"><i class="fa fa-indent"></i> Kategori Listesi</a>
                            </li>
                            <li>
                                <a href="/category/insert"><i class="fa fa-plus "></i> Yeni Kategori</a>
                            </li>
                            <li>
                                <a href="/category/deleted"><i class="fa fa-flash "></i> Silinen Kategoriler</a>
                            </li>

                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-comments-o "></i> Yorum İşlemleri <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                            </li>
                            <li>
                            <li>
                                <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                            </li>

                        </ul>
                    </li>


                </ul>

            </div>

   </nav>

   


